:root {
    --gray1: #F2F2F2;
    --gray2: #C4C4C4;
    --gray3: #5C5C5C;
    --accent: #005b96;
    --accentlight: #b3cde0;
}

.common {
    font-family: "Poppins";
    font-size: 18px;
}

.chats-wrapper {
    display: flex;
    flex-direction: column;
}

.chats-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 0 0 84px;
}

.chats-title {
    flex: 0 0 320px;
    color: var(--accent);
    background-color: var(--gray1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.chatdetail-chatinfo {
    flex: 1;
    background-color: var(--gray1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatdetail-chatinfo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.chatdetail-chatinfo-name {
    font-size: 24px;
    color: var(--accent);
}

.chat-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
}

.chatlist {
    flex: 0 0 320px;
    overflow: scroll;
    border-right: 4px solid var(--gray1);
    padding: 16px 8px 8px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chatlist-item {
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #ffffff;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.chatlist-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.chatlist-item.selected {
    background-color: var(--accent);
}

.chatlist-item-img-container {
    min-width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatlist-item-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.chatlist-item-details-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.chatlist-item-name {
    font-size: 14px;
    font-weight: bold;
    color: var(--accent);
}

.chatlist-item-last-message {
    font-size: 12px;
}

.chatlist-item-last-message-time {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    color: var(--gray3);
    margin: 8px;
}

.selected .chatlist-item-name, .selected .chatlist-item-last-message, .selected .chatlist-item-last-message-time {
    color: #ffffff;
}

.chatdetail {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatdetail-messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
}

.chatdetail-messages-message {
    max-width: 80%;
    border: none;
    padding: 16px;
    margin: 8px;
    font-size: 12px;
    border-radius: 24px;
}

.chatdetail-messages-message.incoming {
    border-top-left-radius: 0;
    align-self: flex-start;
    background-color: var(--gray1);
}

.chatdetail-messages-message.outcoming {
    border-top-right-radius: 0;
    align-self: flex-end;
    background-color: var(--accentlight);
}


.chatdetail-newmessage {
    flex: 0 0 72px;
    border-top: 4px solid var(--gray1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.chatdetail-newmessage-input {
    background-color: var(--gray1);
    border-radius: 24px;
    flex: 1;
    height: 24px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 16px;
    outline: none;
}

.chatdetail-newmessage-input::placeholder, 
.chatdetail-newmessage-input:-ms-input-placeholder, 
.chatdetail-newmessage-input::-ms-input-placeholder { 
    color: var(--gray3);
    opacity: 1;
}

.chatdetail-newmessage-send {
    color: white;
    background-color: var(--accent);
    border: none;
    border-radius: 50%;
    flex: 0 0 48px;
    height: 48px;
    outline: none;
}

/* Ripple effect */
.chatdetail-newmessage-send {
    background-position: center;
    transition: background 0.8s;
}

.chatdetail-newmessage-send:hover {
    background: var(--accent) radial-gradient(circle, transparent 1%, var(--accent) 1%) center/15000%;
}

.chatdetail-newmessage-send:active {
    background-color: var(--accentlight);
    background-size: 100%;
    transition: background 0s;
}