.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
}

.error-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.link-back {
    font-size: 18px;
    color: var(--accent);
}