<section class="section-side">
    <header class="section-side-header">
        <h1 class="chats-title">Chats</h1>
        <div class="chats-subtitle">
            <a href="#account" class="username-header"></a>
            <button class="chats-logout" style="margin-left: 8px;">Log out</button>
        </div>
    </header>
    <ul class="chatlist chatlist-root">
        <div class="chatlist-loader loader"></div>
    </ul>

    <div class="add-chat-button-wrapper">
        {{{addChatButton}}}
    </div>

</section>
<main class="section-main">
    <header class="section-main-header">
        <div class="chatdetail-chatinfo chathead-root">
        </div>
        <div class="chathead-no-chat-selected">Please select or create chat to start messaging</div>
    </header>
    <section class="chatdetail-messages chatdetail-messages-root">

    </section>
    <form class="chatdetail-newmessage" onsubmit="return false;">
        <input type="text" class="chatdetail-newmessage-input" name="message" placeholder="Send something..."></input>
        <button class="chatdetail-newmessage-send">
            <i class="material-icons">send</i>
        </button>
    </form>
</main>
