.common {
    font-family: "Poppins";
    font-size: 18px;
}

.dialog-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.card {
    flex: 0 0 400px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #ffffff;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 16px;
    padding-bottom: 16px;
}

.card.login-dialog {
    min-height: 440px;
}

.card.signup-dialog {
    min-height: 720px;  
}

.card.account-dialog {
    min-height: 840px;  
}

.login-dialog, .signup-dialog, .account-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent);
    padding-bottom: 16px;
}

.input-container {
    position: relative;
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.inputtext {
    font-size: 14px;
    height: 40px;
    width: 100%;
    border: 1px solid var(--gray2);
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
}

.inputtext:focus {
    border-color: var(--accent);
}

.inputtext.error {
    border-color: var(--errorred);
}

.inputtext-floating-label {
    position: absolute;
    pointer-events: none;
    left: 24px;
    top: 8px;
    color: var(--gray3);
    transition: 0.2s ease all;
}

.inputtext:not(:placeholder-shown) ~ .inputtext-floating-label, .inputtext:focus ~ .inputtext-floating-label {
    top: -16px;
    left: 10px;
    font-size: 11px;
    opacity: 1;
    color: var(--accent);
}

.error-text {
    position: absolute;
    left: 10px;
    bottom: -16px;;
    font-size: 11px;
    color: var(--errorred);
}

.button-submit {
    width: 80%;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    border-radius: 20px;
    outline-style: solid;
    outline-offset: 4px;
}

.button-submit.primary {
    background-color: var(--accent);
    color: white;
    border: none;
}

.button-submit.secondary {
    background-color: #ffffff;
    color: var(--accent);
    border: 1px solid var(--accent);
}

/* Ripple effect */
.button-submit {
    background-position: center;
    transition: background 0.8s;
}

.button-submit.primary:hover {
    background: var(--accent) radial-gradient(circle, transparent 1%, var(--accent) 1%) center/15000%;
}

.button-submit.secondary:hover {
    background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;    
}

.button-submit.primary:active, .button-submit.secondary:active {
    background-color: var(--accentlight);
    background-size: 100%;
    transition: background 0s;
}

.account-picture {
    position: relative;
    flex: 0 0 200px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--gray2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.change-account-picture {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.link-back {
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
    color: var(--accent);
}
