:root {
    --gray1: #F2F2F2;
    --gray2: #C4C4C4;
    --gray3: #5C5C5C;
    --accent: #005b96;
    --accentlight: #b3cde0;
    --errorred: #dc143c;
    font-family: "Poppins";
}

img[src=""] {
    display: none;
}

.loader {
    align-self: center;
    margin-top: 16px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }